[run]
branch = True
source =
    addons/localization/l10n_cl_dte
    addons/localization/l10n_cl_hr_payroll
    addons/localization/l10n_cl_financial_reports
omit =
    */tests/*
    */migrations/*
    */__pycache__/*
    */static/*
    */wizards/*

[report]
show_missing = True
skip_covered = False
fail_under = 80
precision = 2
